{
  "AUTH0_DOMAIN": "YOUR_DOMAIN_HERE.us.auth0.com",
  "AUTH0_CLIENT_ID": "YOUR A0 API CLIENT_ID HERE",
  "AUTH0_CLIENT_SECRET": "YOUR A0 API CLIENT SECRET HERE",
  "AUTH0_KEYWORD_REPLACE_MAPPINGS": { 
    "AUTH0_TENANT_NAME": "YOUR_DOMAIN_HERE" 
  },
  "AUTH0_ALLOW_DELETE": false,
  "AUTH0_EXCLUDED": []
}
